<%= render "navbar" %>

<img src="/assets/audience.jpg" style="display: block; width: 100%; max-width: 100%; height: auto;">
       
<div class="container">
    
    <section id="services" style="margin-bottom: 50px;">
      <div class="container" style="margin-top: 50px;">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">YouKnow?!</h2>
            <p class="text-muted mb-0">
              동영상으로 질문하고 보이스로 답변하자!
              <br>유노유노는 한류 컨텐츠를 통한 신개념 에듀테인먼트 플랫폼입니다.</p>
            <hr class="my-4">
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
              <h3 class="mb-4">K-waves</h3>
              <p class="text-muted mb-0">한류 컨텐츠의 홍보와<br>지속적인 발전을 도와줍니다.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-info mb-3 sr-icons" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
              <h3 class="mb-4">Global Community</h3>
              <p class="text-muted mb-0">언어의 장벽을 넘어선<br>글로벌 통합 덕질 커뮤니티를 꿈꿉니다.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart mb-3 sr-icons" style="; visibility: visible; color: #ff7b7b; -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
              <h3 class="mb-4">Love and..</h3>
              <p class="text-muted mb-0">스타와 콜라보를 통해<br>다양한 프리미엄 서비스를 제공합니다.</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
    
<!--Google map-->
<!--<div id="map-container" class="z-depth-1" style="height: 500px"></div>-->

    
</div>

<%= render "footer" %>

<!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyALYONJrRqiiwZB0mGIK8v_GgL8uz-FxTo">-->
<!--    function regular_map() {-->
<!--    var var_location = new google.maps.LatLng(35.890562, 128.610846);-->

<!--    var var_mapoptions = {-->
<!--        center: var_location,-->
<!--        zoom: 14-->
<!--    };-->

<!--    var var_map = new google.maps.Map(document.getElementById("map-container"),-->
<!--        var_mapoptions);-->

<!--    var var_marker = new google.maps.Marker({-->
<!--        position: var_location,-->
<!--        map: var_map,-->
<!--        title: "Kyungpook National University"-->
<!--    });-->
<!--}-->

<!--google.maps.event.addDomListener(window, 'load', regular_map);-->

<!--</script>-->